<div class="container-fluid">
    <h1>Editing Schedule</h1>
    <%= render 'form', schedule: @schedule %>
    <br>
    <%= link_to 'Show', @schedule, class:"btn btn-light min-width-btn" %>
    <%= link_to 'Back', schedules_path, class:"btn btn-light min-width-btn" %>
</div>