<div class="container-fluid">
    <h1>Editar Cita</h1>
    <%= render 'form', schedule: @schedule %>
    <br>
    <%= link_to 'Ver', @schedule, class:"btn btn-light min-width-btn" %>
    <%= link_to 'Atras', schedules_path, class:"btn btn-light min-width-btn" %>
</div>